torch==2.3.0
torchvision==0.18.0
mmengine==0.10.7
mmcv==2.2.0
mmdet==3.3.0
mmdet3d==1.4.0
openmim==0.3.9
nuscenes-devkit==1.2.0
pycocotools==2.0.11
matplotlib==3.10.8
scikit-image==0.25.2
numba==0.63.1
